<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SeleniumJava22/src/com/aktar/sele21/HomeWorkJava21.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.aktar.sele21.HomeWorkJava21"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SeleniumJava22"/>
</launchConfiguration>
